# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.egg
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Environment
.env
.venv
env/
venv/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
